/* This makes the horizontal nav bar appear */
.nav {
background:#624FA8;
padding:0;
margin:0;
list-style-type:none;
height:30px;
}

/* This makes the list items appear inside the nav bar */
.nav li { float:left; }

/* This changes the color/text/design of the links */
.nav li a {
padding:9px 20px;
display:block;
color:#fff;
text-decoration:none;
font:12px "Trebuchet MS", sans-serif;
}

/* This changes the color/text/design of the paragraph */
.nav li p {
padding:9px 20px;
display:block;
color:#fff;
text-decoration:none;
font:12px "Trebuchet MS", sans-serif;
}

.nav ul {
position:absolute;
left:-9999px;
top:-9999px;
list-style-type:none;
}

/* This is for when a mouse scrolls over the link */
.nav li:hover { position:relative; background:#69A84; }

/* This makes the the sub-nav appear */
.nav li:hover ul {
left:0px;
top:30px;
background:#69A84;
padding:0px;
}

/* This makes the sub-links work */
.nav li:hover ul li a {
padding:5px;
display:block;
width:168px;
text-indent:15px;
background-color:#69A84;
}

/* This makes the hover background of the subnav different */
.nav li:hover ul li a:hover { background:#624FA8; }