/* This makes the nav bar appear */
.nav {
background:#624FA8;
padding:0;
margin:0;
list-style-type:none;
height:600px;
width:240px;
position: absolute;
left: 60px;
top: 270px;
}

/* This makes the list items appear inside the nav bar */
.nav li { 
padding:20px 20px;
display:block;
color:#fff;
text-decoration:none;
font:30px "Trebuchet MS", sans-serif;
text-align: center;}

/* This changes the color/text/design of the links */
.nav li a {
display:block;
color:#fff;
text-decoration:none;
font:30px "Trebuchet MS", sans-serif;
text-align: center;
}

.nav ul {
position:absolute;
left:-9999px;
top:-9999px;
list-style-type:none;
}

/* This is for when a mouse scrolls over the link */
.nav li:hover { position:relative; background:#69a84f; }

/* This makes the the sub-nav appear */
.nav li:hover ul {
left:240px;
top:0px;
background:#69a84f;
padding:0px;
z-index: 1;
}

/* This makes the sub-links work */
.nav li:hover ul li a {
padding:5px;
display:block;
width:230px;
text-indent:15px;
background-color:#69a84f;
}

/* This makes the hover background of the subnav different */
.nav li:hover ul li a:hover { background:#624FA8; }

.nav h2 {
color:#fff;
text-decoration:underline;
font:40px "Trebuchet MS", sans-serif;
text-align: center;
}

#column2 {
  height:600px;
width:240px;
position: absolute;
left: 360px;
top: 270px;
}

#column3 {
height:600px;
width:240px;
position: absolute;
left: 660px;
top: 270px;
}

#column4 {
height:600px;
width:240px;
position: absolute;
left: 960px;
top: 270px;
}

.header {
position: absolute;
left: 0px;
top: 60px;
}

.footer {
  position: absolute;
  top: 930px;
  left: 0px;
  height: 60px;
  width: 1260px;
  background:#624FA8
}